{% extends "personal/base.html" %}
{% block content %}
<p>
<center>
<h2>Experience</h2>
</center>
<ul>
<li>Bart Heupers Software 2017 – …
<li>Deep-learning and data analysis with Python, Tensorflow and other tools.</li>
<li>Booking.com 2011 – 2017
Android app and backend development.  IT finance, online payments, invoices, SAP import, direct debit etc. Java, Perl,
    GIT, MySQL, Hadoop</li>
<li>SARA 2004 – 2011
Software development for scientific projects. FlySafe, Grid-computing and storage. BioInformatics. Perl, Java, Python , C++</li>
<li>Freelance software developer 1997- 2004
For HP ServiceDesk, SNT Connect Services,  Cambridge Technology Partners, A2 Antwoordservice, IBM, Chipper, MEOB, EDS and others</li>
<li>Elsevier Science  1996</li>
<li>AND Identification 1993 – 1995</li>
<li>BSO Artificial Intelligence 1992</li>
<li>Sentient Machine Research  1991</li>
<li>Chanovski AudioVisual Productions 1988 – 1990</li>
    <li>PTT Telematica Laboratorium 1988</li>
</ul>

{% endblock %}