{% extends "personal/base.html" %}
{% block content %}
<p>
 Independent software developer with more then 30 years of experience in different areas like data analysis and
    processing, internet development and Android apps.
With a pragmatic attitude, where I would like to keep things small and simple if they do not have to be big and
    difficult, and use standard or open source solutions where that is possible, I can realise software projects
    quickly and reliable.
Also in case of existing software where things  need to added, or problems need to be solved, my decades of experience
    helps me to understand the original code where after new functionality or improvements can be added in a consistent
    and logical way.
</p><p>
In most software development projects there are a number of problems, like obscure bugs, API’s that do not work as
    described, or undocumented binary format that needs to be read. These problems often cause significant delay, or
    are sometimes real showstoppers. I can usually find solutions, or ways to work around such problems. I am
    systematic and persistent in finding bugs. If needed I can reverse engineer binary code or binary formats, or
    etermine how things are stored or (should be ) working.
</p><p>
Most of the experience I have with Java, C (++), Perl and Python. I have also much experience with design of databases
    of various kinds and how to efficiently use them. In addition, I have used many other languages and systems.
</p>

{% include 'personal/includes/contacts.html' %}

{% endblock %}

